<html>
<body>
  <p>Olá, <%= name %>!</p>
  <p>Um novo dispositivo (<%= device %>) acessou sua conta em <%= time %>.</p>
  <p>IP: <%= ip %></p>
  <p>Se não foi você, por favor, tome medidas de segurança.</p>
</body>
</html>
